<section class="banner-demo" {{#if img}} style="background-image: url({{img}})" {{/if}}>
    <div class="container">
        <h2 class="title__section title__section_light banner-demo__title">
            Бесплатно продемонстрировать работу решения
        </h2>
        <button class="button button__conversion banner-demo__button">
            Заказать демонстрацию
        </button>
    </div>
</section>