        <footer class="footer">
            <div class="container">
                <div class="footer__wrapper">
                    <div class="footer__block js-footerBlock">
                        <a href="javascript:void(0)" class="footer__title">
                            Продукты
                        </a>
                        <nav class="footer__list js-footerList">
                            <a href="javascript:void(0)" class="footer__link">
                                Камеры видеонаблюдения
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Видеорегистраторы
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Модули аналитики
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Программное обеспечение
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Central Monitoring Station
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                VMS
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                СКУД
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                TRASSIR Cloud
                            </a>
                        </nav>
                    </div>
                    <div class="footer__block js-footerBlock">
                        <a href="javascript:void(0)" class="footer__title">
                            Отраслевые решения
                        </a>
                        <nav class="footer__list js-footerList">
                            <a href="javascript:void(0)" class="footer__link">
                                Рестораны и кафе
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Розничная торговля
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Банки и финансы
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Недвижимость
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Промышленность
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Склады и логистика
                            </a>
                        </nav>
                    </div>
                    <div class="footer__block js-footerBlock">
                        <a href="javascript:void(0)" class="footer__title">
                            Партнерам
                        </a>
                        <nav class="footer__list js-footerList">
                            <a href="javascript:void(0)" class="footer__link">
                                Стать партнером
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Видеонаблюдение под ключ
                            </a>
                        </nav>
                    </div>
                    <div class="footer__block js-footerBlock">
                        <a href="javascript:void(0)" class="footer__title">
                            Поддержка
                        </a>
                        <nav class="footer__list js-footerList">
                            <a href="javascript:void(0)" class="footer__link">
                                Портал технической поддержки
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Скачать обновления
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Специалистам
                            </a>
                        </nav>
                    </div>
                    <div class="footer__block js-footerBlock">
                        <a href="javascript:void(0)" class="footer__title">
                            О компании
                        </a>
                        <nav class="footer__list js-footerList">
                            <a href="javascript:void(0)" class="footer__link">
                                Акции
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Новости
                            </a>
                            <a href="javascript:void(0)" class="footer__link">
                                Кейсы
                            </a>
                        </nav>
                    </div>
                    <div class="footer__block">
                        <a href="javascript:void(0)" class="footer__title">
                            Контакты
                        </a>
                        <div class="footer__list footer__list_contacts">
                            <a href="tel:+74951330461" class="footer__link footer__link_light">
                                <svg>
                                    <use xlink:href="./images/_sprite.svg#phone"></use>
                                </svg>
                                +7 (495) 133-04-61
                            </a>
                            <a href="mailto:in@trassir.ru" class="footer__link footer__link_light">
                                <svg>
                                    <use xlink:href="./images/_sprite.svg#mail"></use>
                                </svg>
                                in@trassir.ru
                            </a>
                        </div>
                        <div class="footer__socials">
                            <a href="javascript:void(0)" class="footer__social" target="_blank">
                            <svg>
                                    <use xlink:href="./images/_sprite.svg#tg"></use>
                                </svg>
                            </a>
                            <a href="javascript:void(0)" class="footer__social" target="_blank">
                            <svg>
                                    <use xlink:href="./images/_sprite.svg#vk"></use>
                                </svg>
                            </a>
                            <a href="javascript:void(0)" class="footer__social" target="_blank">
                            <svg>
                                    <use xlink:href="./images/_sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer__credits">
                    <a href="javascript:void(0)" target="_blank" class="footer__link">
                        Политика конфиденциальности
                    </a>
                    <span>&copy; 2023 Все права защищены</span>
                </div>
            </div>
        </footer>
    </div>
    <div class="modal js-modal" data-modal="test">
        <div class="modal__content">
            <div class="modal__close js-modalClose"></div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt commodi veniam odit, a dolor quaerat rem? Exercitationem nostrum consectetur unde earum! Possimus a dignissimos veritatis totam inventore, numquam nisi sed?
        </div>
    </div>

    <script src="./local/js/vendors/simplebar.min.js"></script>
    <script src="./local/js/vendors/swiper-bundle.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>