.app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;

    &__head {
        padding: 40px 0;
    }

    &__title {
        @extend .title__main;
    }

    &__description {
        @extend .text-large;

        margin-top: 24px;
    }

    .breadcrumbs {
        &:only-child {
            margin: 0;
        }
    }
}

@media screen and (max-width: $sm) {
    .app {
        &__head {
            padding: 0 0 20px;
        }

        &__description {
            margin-top: 18px;
        }
    }
}