.app__main {
    & > span:not([class]),
    & > div:not([class]),
    & > h1:not([class]),
    & > h2:not([class]),
    & > h3:not([class]),
    & > p:not([class]),
    & > ul:not([class]),
    & > ol:not([class]),
    & > table:not([class]),
    & > img:not([class]),
    & > a {
        @extend .container;

        &:last-child {
            margin-bottom: 80px;
        }
    }
}

.article {
    @extend .text-standard;

    margin-bottom: 40px;
}

.app__main,
.article {
    & > h1:not([class]) {
        @extend .title__main;

        margin-bottom: 24px;
    }

    & > h2:not([class]) {
        @extend .title__section;

        margin-bottom: 24px;
    }

    & > h3:not([class]) {
        @extend .title__block-sm;

        margin-bottom: 20px;
    }

    & > p:not([class]) {
        font-family: inherit;
        color: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    & > ul:not([class]) {
        @extend .list;

        & > li {
            @extend .list__item;

            font-size: inherit !important;
        }
    }

    & > ol:not([class]) {
        @extend .list-count;

        & > li {
            @extend .list__item;

            font-size: inherit !important;
        }
    }

    & > ol:not([class]),
    & > ul:not([class]) {
        font-family: inherit;
        color: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        margin-top: 16px;
        color: inherit;

        li:not(:last-child) {
            margin-bottom: 8px;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        p {
            display: initial;
        }
    }

    & > table:not([class]) {
        font-family: inherit;
        color: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        max-width: calc(1441px - 32px);

        &:not(:last-child) {
            margin-bottom: 32px;
        }

        border-collapse: collapse;
        border-spacing: 0px;
        color: inherit;

        tr {
            border: 1px solid var(--color-neutral-darkness);
            color: inherit;
        }

        th {
            padding: 8px;
            color: inherit;
        }

        td {
            padding: 8px;
            color: inherit;

            &:not(:last-child) {
                border-right: 1px solid var(--color-neutral-darkness);
            }
        }
    }

    & > img:not([class]) {
        max-width: 1441px;
        display: block;
        width: auto;
        height: auto;
    }

    & > img:not([class]),
    & > p:not([class]) > img {
        width: auto;
        height: auto;
    }

    & > p:not([class]) > a,
    & > a:not([class]) {
        @extend .link;

        color: inherit;
        font-size: inherit;
    }

    & > a:not([class]) {
        display: inline-block;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

@media screen and (max-width: $xl) {
    .app__main,
    .article {
        & > table:not([class]) {
            max-width: calc(1262px - 32px);
        }

        & > img:not([class]) {
            max-width: 1262px;
        }
    }
}
@media screen and (max-width: $lg) {
    .app__main,
    .article {
        & > table:not([class]) {
            max-width: calc(100% - 32px);
        }

        & > img:not([class]) {
            max-width: 100%;
        }
    }
}