.breadcrumbs {
    font-size: 16px;
    line-height: 1.3;
    font-family: var(--font-main);
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px 0;

    &__link {
        color: var(--color-conv-second-dark);
        display: flex;
        align-items: center;
        gap: 5px;
        margin-right: 5px;

        &::after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background-image: url('../images/icons/static/breabcrumbs-divider.svg');
            background-repeat: no-repeat;
            background-position: center;
        }

        &:hover {
            color: var(--color-conv-second-light);
        }
    }

    &__current {
        color: var(--color-neutral-middle);
    }

    &_light {
        .breadcrumbs__link {
            color: var(--color-main-middle);

            &::after {
                background-image: url('../images/icons/static/breabcrumbs-divider-light.svg');
            }

            &:hover {
                color: var(--color-white);
            }
        }

        .breadcrumbs__current {
            color: var(--color-white);
        }
    }
}

@mixin modLink {
    flex-direction: row-reverse;
    color: var(--color-neutral-middle);

    &:not(:last-of-type) {
        display: none;
    }

    &::after {
        background-image: url('../images/icons/static/breabcrumbs-divider-middle.svg');
        transform: scale(-1);
    }

    &:hover {
        color: var(--color-neutral-middle);
    }
}

@media screen and (max-width: $sm) {
    .breadcrumbs {
        height: 48px;
        margin-bottom: 0;

        &__link {
            @include modLink();
        }

        &_light {
            .breadcrumbs__link {
                @include modLink();
            }
        }

        &__current {
            display: none;
        }
    }
}