.check-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
        color: var(--color-neutral-darkness);
        font-size: 18px;
        line-height: 1.44;
        display: flex;
        align-items: flex-start;
        gap: 24px;

        &::before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            background: url('../images/icons/static/check-circle.svg') no-repeat center / contain;
            margin-top: 1px;
        }
    }
}

@media screen and (max-width: $xl) {
    .check-list {
        &__item {
            font-size: 16px;

            &::before {
                width: 20px;
                height: 20px;
                margin-top: 2px;
            }
        }
    } 
}