.compare {
    padding-bottom: 100px;

    &__line {
        display: flex;
        color: var(--color-neutral-darkness);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.33;
        text-align: center;
        min-height: 70px;
        align-items: center;
        border-radius: var(--radius-standard);
        padding: 16px 0;

        &:nth-child(even) {
            background: var(--color-main-light);

            &::before {
                background: var(--color-main-light);
            }
        }

        &::before {
            background: var(--color-white);
            content: attr(data-name);
            width: 100%;;
            color: var(--color-main-dark);
            text-align: left;
            padding: 0 16px;
        }

        &_names {
            font-size: 18px;
            font-weight: 600;
        }
    }
    
    &__item {
        max-width: 260px;
        padding: 0 16px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__head {
        position: sticky;
        left: 0;
        top: 0;
        width: 100%;
        overflow: auto;
        pointer-events: none;
        -ms-overflow-style: none;
        scrollbar-width: none; 
        transition: 1s linear;
        display: none;
        z-index: 2;

        &.is-active {
            display: block;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .compare__line {
            background: var(--color-main-light);
        }
    }
}

@media screen and (max-width: $md) {
    .compare {
        padding-bottom: 40px;

        &__line {
            width: 960px;
            align-items: stretch;
            border-radius: 0;
            font-size: 14px;

            &:nth-child(even) { 
                &::before {
                    border-color: var(--color-white);
                }
            }

            &::before {
                max-width: 100px;
                width: 100%;
                flex-shrink: 0;
                overflow: hidden;
                border-right: 2px solid  var(--color-main-light);
                position: sticky;
                left: 0;
                padding: 16px;
                margin: -16px 0;
                display: flex;
                align-items: center;
            }

            &:first-child {
                &::before {
                    border-color: transparent;
                }
            }

            &_names {
                position: sticky;
                top: 0;
            }
        }

        &__head {
            position: fixed;

            .compare__line {
                &::before {
                    background: var(--color-main-light);;
                    border-color: var(--color-white);
                }
            }
        }

        &__table {
            padding-bottom: 20px;
            overflow-x: auto;
            margin-left: -16px;
            margin-right: -16px;
        }
    }
}