.dvr-info {
    &__title {
        &-sm {
            @extend .title__block-sm;

            margin-top: 32px;
        }
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        gap: 25px;
    }

    &__tab {
        background: var(--color-white);
        border-radius: var(--radius-standard);
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
        gap: 20px;
        max-width: calc(20% - 20px);
        cursor: pointer;
        transition: .1s linear;
        border: 2px solid var(--color-white);
        min-height: 202px;
        justify-content: space-between;

        &:hover {
            color: var(--color-conv-second-dark);
            border-color: var(--color-conv-second-dark);
        }

        &.is-active {
            border-color: var(--color-conv-second-dark);
            background: var(--color-conv-second-dark);
            color: var(--color-white);
        }
    }

    &__img {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__outer {
        display: flex;
        gap: 32px;
    }

    &__contents {
        margin-top: 50px;
    }

    &__content {
        display: none;

        &_mob {
            display: none;

            &.is-active {
                display: none;
            } 
        }

        &.is-active {
            display: block;
        }
    }

    &__subtitle {
        @extend .text-large;

        display: block;
        margin-bottom: 8px;
    }

    &__description {
        @extend .text-standard;
    }

    &__benefits {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
        gap: 16px;
        margin-top: 24px;
    }

    &__benefit {
        color: var(--color-neutral-darkness);
        background: var(--color-white);
        display: flex;
        gap: 16px;
        align-items: center;
        border-radius: var(--radius-standard);
        padding: 14px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
    }

    &__benefit-icon {
        flex-shrink: 0;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__benefit-notice {
        font-size: 12px;
        display: block;
        color: var(--color-neutral-middle);
    }
}

@media screen and (max-width: $lg) {
    .dvr-info {
        &__tab {
            min-height: unset;
        }
    }
}

@media screen and (max-width: $md) {
    .dvr-info {
        padding-bottom: 40px;

        &__tab {
            max-width: 100%;
            max-height: 100px;
            flex-direction: row-reverse;
            justify-content: center;

            img {
                max-height: 80px;
            }
        }

        &__tabs {
            flex-direction: column;
            gap: 16px;
        }

        &__contents {
            display: none;
        }


        &__content {
            &_mob {
                padding: 24px 0;

                &.is-active {
                    display: block;
                } 

                .dvr-info__img {
                    max-width: 40%;
                }
            }
        }
    }
}

@media screen and (max-width: $sm) {
    .dvr-info {
        &__outer {
            flex-direction: column-reverse;
            gap: 0;
        }

        &__content {
            &_mob {
                .dvr-info__img {
                    max-width: 100%;
                }
            }
        }
    }
}