.kpp-hero {
    padding: 100px 0;
    background: var(--color-conv-second-dark) url('../images/kpp/hero.png') no-repeat top center;
    position: relative;
    color: var(--color-white);

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #{HexToRGBA($color-conv-second-dark, 0.7)};
    }

    &__title {
        position: relative;
        z-index: 2;
        margin-bottom: 16px;
        color: inherit;
    }

    &__subtitle {
        position: relative;
        z-index: 2;
        max-width: 609px;
        font-size: 18px;
        line-height: 1.44;
    }

    .hero__benefits {
        position: relative;
        z-index: 2;
        margin-top: 70px;

        &-item {
            max-width: 320px;
        }

        &-text {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: $xl) {
    .kpp-hero {
        padding: 80px 0;

        .hero__benefits {
            &-text {
                font-size: 16px;
            }
        }    
    }
}

@media screen and (max-width: $lg) {
    .kpp-hero {
        background-size: cover;
        background-position: top right;

        .hero__benefits {
            margin-top: 40px;
            justify-content: flex-start;
        }
    }
}

@media screen and (max-width: $md) {
    .kpp-hero {
        padding: 40px 0;
    }
}

@media screen and (max-width: $sm) {
    .kpp-hero {
        .hero__benefits {
            flex-direction: column;
            
            &-item {
                margin: 0;
                max-width: 80%;

                &:last-child {
                    display: block;
                    max-width: 80%;

                    &::before {
                        display: block;
                    }
                }
            }
        }
    }
}