.list {
    font-size: inherit;

    &__item {
        color: var(--color-neutral-darkness);
        font-size: 18px;
        font-weight: 400;
        line-height: 1.44;
        display: flex;
        align-items: flex-start;

        &::before {
            content: '';
            flex-shrink: 0;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            margin-right: 10px;
            margin-top: 10px;
            background: var(--color-conv-dark);
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &-count {
        counter-reset: i;

        .list__item {
            &::before {
                counter-increment: i; 
                content: counter(i) '.';
                flex-shrink: 0;
                margin-right: 10px;
                margin-top: 0;
                font-weight: 500;
                color: var(--color-conv-dark);
                width: auto;
                height: auto;
                background: none;
            }
        }    
    }
}

@media screen and (max-width: $xl) {
    .list {
        &__item {
            font-size: 16px;
        }
    }
}