.product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100%;
    max-width: 259px;
    padding: 16px;
    gap: 20px;
    background: var(--color-white);
    border-radius: var(--radius-standard);

    &__img {
        width: 100%;
        height: 227px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px;

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__title {
        color: var(--color-neutral-darkness);
        font-size: 18px;
        font-weight: 500;
        line-height: 1.44;

        &:hover {
            color: var(--color-conv-second-dark);
        }
    }

    &__text {
        color: var(--color-neutral-dark);
        font-size: 14px;
        line-height: 1.44;
    }

    &__button {
        width: 100%;
        max-width: 100%;
    }
}