.projects {
    padding-bottom: 100px;

    &__slide {
        background: var(--color-white);
        border: 1px solid var(--color-main-middle);
        border-radius: var(--radius-standard);
        display: flex;
        flex-direction: column;
        min-width: 450px;
    }

    &__img {
        height: 320px;
        overflow: hidden;
        border-radius: var(--radius-standard) var(--radius-standard) 0 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__bottom {
        padding: 32px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }

    &__text {
        &::before {
            padding: 0px;
        }
    }

    &__location {
        @extend .text-standard;

        display: flex;
        gap: 8px;
        align-items: center;
        color: var(--color-neutral-middle);
        margin-top: 20px;

        &::before {
            content: '';
            width: 16px;
            flex-shrink: 0;
            height: 21px;
            display: block;
            background: url('../images/icons/static/baloon.svg');
        }
    }
}

@media screen and (max-width: $lg) {
    .projects {
        margin-right: -16px;

        .projects__slide {
            &:last-child {
                margin-right: 16px;
            }
        }
    }
}

@media screen and (max-width: $md) {
    .projects {
        padding-bottom: 40px;

        &__img {
            height: 220px;
        }

        &__bottom {
            padding: 24px 20px;
        }
        
        &__slide {
            max-width: 356px;
            min-width: 356px;
        }
    }
}


@media screen and (max-width: $sm) {
    .projects {
        margin-right: 0;

        &__slide {
            min-width: unset;
        }

        .projects__slide {
            &:last-child {
                margin-right: 0;
            }
        }
    }
}