.sales {
    padding: 100px 0;

    &__slider {
        position: relative;
        border-radius: var(--radius-standard);
    }

    &__slide {
        display: block;
        background: url('../images/sale/bg.png') no-repeat center, linear-gradient(90.05deg, #1201d3 39.84%, #661677);
        padding: 55px 55px 83px;
        position: relative;
    }

    &__slide-title {
        @extend .title__block;
        @extend .title__block_light;

        max-width: 620px;
        position: relative;
        z-index: 2;
    }

    &__slide-text {
        @extend .text-large;

        color: var(--color-white);
        max-width: 620px;
        margin-bottom: 40px;
        position: relative;
        z-index: 2;
    }

    &__slide-img {
        position: absolute;
        top: 0;
        right: 0;
        max-height: 100%;
        z-index: 2;
    }

    .button {
        position: relative;
        z-index: 2;
    }
}

@media screen and (max-width: $xl) {
    .sales {
        padding: 80px 0;

        &__slide {
            padding: 48px 48px 83px;
        }

        &__slide-title {
            max-width: 540px;
        }

        &__slide-text {
            max-width: 540px;
            margin-bottom: 35px;
        }    
    }
}

@media screen and (max-width: 1210px) {
    .sales {
        &__slide-img {
            opacity: 0.5;
        }
    }
}

@media screen and (max-width: $md) {
    .sales {
        padding: 40px 0;

        &__slide {
            padding: 20px;
            padding-bottom: 80px;
            background: url('../images/sale/bg.png') no-repeat right bottom, linear-gradient(90.05deg, #1201d3 39.84%, #661677);
            height: auto !important;
        }

        &__slide-img {
            display: none;
        }

        &__slide-text {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: $sm) {
    .sales {
        &__slide-title {
            font-size: 24px;
            margin-bottom: 9px;
        }

        &__slide-text {
            font-size: 14px;
            line-height: 1.4;
        }

        &__button {
            max-width: 100%;
            width: 100%;
        }
    }
}